In [17]:
my_name = "SriVinay"

In [18]:
my_name

'SriVinay'

In [19]:
#declaring the string

In [20]:
my_name[0]

'S'

In [21]:
my_name[-2]

'a'

In [28]:
#Slicing a String
my_name[1:4]

'riV'

In [23]:
my_name[1:]

'riVinay'

In [25]:
my_name[1::2]

'rVny'

In [27]:
my_name[1:7:2]
#intialisation:final:increment

'rVn'

In [42]:
#Concatination of a String

a = "vinay"
b = " sri"
a+b

'vinay sri'

In [43]:
#Reversing the String
my_name[::-1]

'yaniVirS'

In [45]:
#Spliting a String
fullname = a+b
fullname.split() #space

['vinay', 'sri']

In [46]:
fullname.split()

['vinay', 'sri']

In [47]:
#String Formatting
name = "vinay"
"I am {} student of FCS".format(name)

'I am vinay student of FCS'

In [48]:
name1="sai"
name2="yaswanth"
"I go to FCS with {}, {} and {}".format(name,name1,name2)

'I go to FCS with vinay, sai and yaswanth'

In [49]:
"I go to FCS with {1}, {1} and {1}".format(name,name1,name2)

'I go to FCS with sai, sai and sai'

In [50]:
"I go to FCS with {v}, {s} and {y}".format(v = name, s = name1, y = name2)

'I go to FCS with vinay, sai and yaswanth'

In [52]:
name.upper()

'vinay'

In [53]:
name.lower()

'vinay'