# declaring the string

In [2]:
my_name = "SriVinay"

In [3]:
my_name

'SriVinay'

In [4]:
my_name[0]

'S'

In [5]:
my_name[-2]

'a'

# Slicing a String

In [6]:
my_name[1:4]

'riV'

In [7]:
my_name[1:]

'riVinay'

In [8]:
my_name[1::2] #even positions

'rVny'

In [8]:
my_name[1:7:2]
#intialisation:final:increment

'rVn'

# Concatination of a String

In [9]:
a = "vinay"
b = " sri"
a+b

'vinay sri'

# Reversing the String

In [10]:
my_name[::-1]

'yaniVirS'

# Spliting a String

In [15]:
fullname = a+b
fullname.split() #space

['vinay', 'sri']

In [16]:
fullname.split()

['vinay', 'sri']

# String Formatting

In [17]:
name = "vinay"
"I am {} student of FCS".format(name)

'I am vinay student of FCS'

In [18]:
name1="sai"
name2="yaswanth"
"I go to FCS with {}, {} and {}".format(name,name1,name2)

'I go to FCS with vinay, sai and yaswanth'

In [19]:
"I go to FCS with {1}, {1} and {1}".format(name,name1,name2)

'I go to FCS with sai, sai and sai'

In [20]:
"I go to FCS with {v}, {s} and {y}".format(v = name, s = name1, y = name2)

'I go to FCS with vinay, sai and yaswanth'

In [21]:
name.upper()

'VINAY'

In [22]:
name.lower()

'vinay'